*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.wrapper{
    background: linear-gradient(90deg, #45ef76, #ef98ee84);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper a{
    display: inline-block;
    background: #fff;
    color: #222222;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    transition: all 0.4s ease;

}
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77,77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.modalcontent{
    position: relative;
    background: #fff;
    width: 500px;
    max-width: 90%;
    padding: 1rem 2rem;
    border-radius: 5px;
}
a{
    font-size: 25px;
    font-weight: 600;
}
.modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
}